<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/aboutme.css'>
</head>
<body>

<%- include partials/main_nav.ejs %>


<!-- Contents -->
<section id="aboutme">
    <h1>Our Team</h1>
  <div class="container my-3 py-5 text-center">
  
    <div class="row mb-5">
      <div class="col">
      
       
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card my-5">
          <div class="card-body pb-5">
            <img src="/Assets/images/mypicture.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>BOHYUN KIM</h3>
            <h5>Software Engineer</h5>
            <p>After getting a master degree in chemical engineering,
              I worked as a researcher for 4 years.<br>
              While working as a resercher, I was able to learn patience and the ability with which I learn something new efficiently.
              There learning is very helpful in living as a software engineer.
            </p>
            <a href="/Assets/pdf/resume.pdf">
              RESUME
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="card my-5">
          <div class="card-body">
            <img src="/Assets/images/wifepicture.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>SOHYUN KIM</h3>
            <h5>Ballet Pianist</h5>
            <p>She is working for Canada National Ballet School as a Pianist.
              She has reveled several albums.
            </p>


          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card my-5">
          <div class="card-body">
            <img src="/Assets/images/sobong.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>SO-BONG</h3>
            <h5>Assistant</h5>  
            <p>Woof! Woof! Woof!</p>
           
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card my-5">
          <div class="card-body">
            <img src="/Assets/images/bongu.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>BONG-GU</h3>
            <h5>Assistant</h5>
            <p>Woof! Woof! Woof!</p>

          </div>
        </div>
      </div>
    </div>



  </div>



</section>

<!-- <div class="container-lg">
  <div class="row row-cols-1 row-cols-lg-4">
    <div class="col">
      <div class="card bg-transparent mb-3" style="width: 16rem;">
        <h5 class="card-title"></h5>
  
        <img class="card-img-top" src="/Assets/images/mypicture.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">BOHYUN KIM</p>
        </div>
      </div>

    </div>

    <div class="content">

      </p> 
    </div>


  

    
    
  </div>
</div>


   -->
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>